In [1]:
import pandas as pd

In [2]:
import os
os.getcwd()

'/home/wolfgang/git/approaching_almost_any_machine_learning_problem/p73ff_arranging_with_cat_in_the_dat/project/notebooks'

In [4]:
pd.read_csv("../data/processed/train_folds.csv").groupby("strat_fold").agg("count")

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
strat_fold,,,,,,,,,,,,,,,,,,,,,
0,120000,116359,116395,116426,116339,116341,116309,116452,116404,116336,...,116378,116348,116377,116350,116451,116384,116438,116381,116348,120000
1,120000,116443,116486,116446,116375,116398,116327,116274,116310,116491,...,116433,116376,116398,116326,116385,116442,116437,116435,116415,120000
2,120000,116421,116331,116399,116387,116374,116346,116327,116427,116389,...,116273,116402,116401,116455,116415,116424,116457,116493,116451,120000
3,120000,116443,116375,116314,116453,116402,116371,116429,116353,116384,...,116424,116348,116397,116399,116381,116410,116437,116374,116377,120000
4,120000,116440,116410,116485,116432,116438,116395,116362,116471,116279,...,116419,116238,116386,116395,116452,116410,116518,116365,116421,120000